* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Rubik, Arial, Helvetica, san-serif;
  background-color: aliceblue;
  color: #4a4a4a;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*HEADER*/

.page__header {
  background-color: #fff;
  text-align: center;
  padding-top: 10px;
}

@media all and (min-width: 768px) {

  .page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }

}

/*NAV*/

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
  margin: 0 10px;
}

.menu__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0 13px;
  display: inline-block;
}

@media all and (min-width: 768px) {

  .menu__item {
    margin-right: 0;
    margin-left: 20px;
  }

  .menu__link {
    padding-bottom: 10px;
  }
}

/*MAIN*/

.page__main {
  flex-grow: 1;
  background-color: #3CDBC0;
  position: relative;
}

.main__title {
  color: #fff;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 250px;
}
